/* ... (existing styles) */

/* Google Button */
.Button-google {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid transparent;
    transition: background-clip 0.3s ease, color 0.3s ease;
    /* Add a transition for a smooth effect */
}

.Button-google:hover {
    background-clip: padding-box;
    background-image: linear-gradient(to right, #3864B3 0%, #2F5597 31%, #e9288f 83%);
    color: #000000;
}

/* GitHub Button */
.Button-github {
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid transparent;
    transition: background-clip 0.3s ease, color 0.3s ease;
    /* Add a transition for a smooth effect */
}

.Button-github:hover {
    background-clip: padding-box;
    background-image: linear-gradient(to right, #3864B3 0%, #2F5597 31%, #e9288f 83%);
    color: #000000;
}

/* ... (existing styles) */